@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
}

.debug-red {
  border: 1px red solid !important;
}
.debug-blue {
  border: 1px blue solid !important;
}
.details {
  position: relative;
  width: 100%;
  height: 59%;
  float: left;
}
